//rocktree.usw-16.palantirfoundry.com/artifacts/api/repositories/ri.artifacts.main.repository.f9283d15-a629-4dae-81e9-b8ff063fff99/contents/release/npm/:_authToken=${FOUNDRY_TOKEN}
@gift-searcher:registry=https://rocktree.usw-16.palantirfoundry.com/artifacts/api/repositories/ri.artifacts.main.repository.f9283d15-a629-4dae-81e9-b8ff063fff99/contents/release/npm/
